*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Vazirmatn', sans-serif;
    font-weight: 500;
}

.main{
    width: 800px;
    height: 500px;
    margin: 50px auto;
    display: grid;
    grid-template-areas: 
    'left right';
    box-shadow: 10px 10px 20px 0px rgb(165, 165, 165);
    border-radius: 10px;
}

/* left part of portfolio */

.left{
    background-color: #d6d7d9;
    width: 230px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.left img{
    margin: 20px auto;
    display: flex;
    align-items: center;
    border-radius: 50%;
    
}
.edit{
    filter: invert(100%);
}
.left ul{
    list-style: none;
    text-align: center;
}
.left ul li{
    margin: 10px 0px;
    letter-spacing: 1px;
    cursor: pointer;
}
.left ul li a{
    color: black;
    text-decoration: none;
}
.left i{
    position: relative;
    top: 35px;
    left: 100px;
    color: black;
}

/* right part of portfolio */

.right{
    background-color: #e4e2e0;
    width: 570px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}
.title{
    width: 200px;
    margin-left: 20px;
    margin-top: 20px;
}
.title i{
    position: relative;
    left: 500px;
    top: -60px;
    cursor: pointer;
}
.title h1{
    letter-spacing: 4px;
    margin-bottom: -5px;
    text-align: center;
}
.title p{
    letter-spacing: 3px;
    text-align: center;
    margin-top: 4px;
}

.profile{
    margin: 10px 25px;
    margin-top: 40px;
    animation: profile 1s linear infinite;
    animation-iteration-count: 1;
}
.profile h3{
    letter-spacing: 1px;
}
.profile ul{
    list-style: none;
    margin-top: 30px;
}
.profile ul li{
    padding: 5px;
}
.profile ul li::before{
    content: '\2022';
    color: #313638;
    font-size: bold;
    margin-right: 8px;
}

.education{
    margin: 10px 25px;
    margin-top: 40px;
    display: none;
    animation: education 1s linear infinite;
    animation-iteration-count: 1;
}
.education h3{
    letter-spacing: 1px;
}
.education ul{
    list-style: none;
    margin-top: 30px;
}
.education ul li{
    padding: 10px 5px;
}
.education ul li h4::before{
    content: '\2022';
    color: #313638;
    font-size: bold;
    margin-right: 8px;
}
.education ul li h4 span{
    font-size: 13px;
    margin-left: 5px;
}
.education ul li p{
    margin-left: 20px;
    margin-top: 2px;
}


.project{
    margin: 10px 25px;
    margin-top: 40px;
    display: none;
    animation: project 1s linear infinite;
    animation-iteration-count: 1;
}
.project h3{
    letter-spacing: 1px;
}
.project ul{
    list-style: none;
    margin-top: 30px;
}
.project ul li{
    padding: 10px 5px;
}
.project ul li h4::before{
    content: '\2022';
    color: #313638;
    font-size: bold;
    margin-right: 8px;
}
.project ul li p{
    margin-left: 20px;
    margin-top: 2px;
}

.skill{
    margin: 10px 25px;
    margin-top: 40px;
    display: none;
    animation: skill 1s linear infinite;
    animation-iteration-count: 1;
}
.skill h3{
    letter-spacing: 1px;
}
.skill ul{
    list-style: none;
    margin-top: 30px;
}
.skill ul li{
    padding: 5px 5px;
}
.skill ul li h4{
    display: flex;
}
.skill ul li h4::before{
    content: '\2022';
    color: #313638;
    font-size: bold;
    margin-right: 8px;
}
.skill ul li p{
    margin-left: 20px;
}

.other{
    margin: 10px 25px;
    margin-top: 40px;
    display: none;
    animation: other 1s linear infinite;
    animation-iteration-count: 1;
}
.other h3{
    letter-spacing: 1px;
}
.other ul{
    list-style: none;
    margin-top: 30px;
    display: grid;
    grid-template-areas: 
    'hobby lan'
    'award act';
}
.other ul li{
    padding: 7px 5px;
}
.other ul li h4::before{
    content: '\2022';
    color: #313638;
    font-size: bold;
    margin-right: 8px;
}
.other ul li p{
    margin-left: 20px;
    margin-top: 2px;
}

.hobby{
    grid-area: hobby;
}
.lan{
    grid-area: lan;
}
.award{
    grid-area: award;
}
.act{
    grid-area: act;
}



@keyframes profile {
    0%{margin-left: -5px;
       opacity: 0%;}
}
@keyframes education {
    0%{margin-left: -5px;
       opacity: 0%;}
}
@keyframes project {
    0%{margin-left: -5px;
       opacity: 0%;}
}
@keyframes skill {
    0%{margin-left: -5px;
       opacity: 0%;}
}
@keyframes other {
    0%{margin-left: -5px;
       opacity: 0%;}
}


@media only screen and (max-width:412px) {
    .main{
        margin: 0px;
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-areas: 
        'left'
        'right';
    }
    .left{
       width: 100vw;
       border-top-left-radius: 10px;
       background-color: #e4e2e0;
       border-top-right-radius: 10px;
       border-bottom-left-radius: 0px;
    }
    #leftDown ul{
        display: flex;
        font-size: 15px;
        text-align: center;
    }
    #leftDown ul li{
        padding: 0px 6px;
        letter-spacing: 0px;
    }
    .left i{
        top: 15px;
        left: 46%;
        margin: 0px auto;
    }
    .right{
       width: 100vw;
       border-top-right-radius: 0px;
       border-bottom-left-radius: 10px;
    }
    .title i{
        left: 340px;
        top: -80px;
    }
    
}

#e1{
    display: none;
    margin-top: 10px;
}
#e1 p{
    margin: 8px 30px;
}
#e2{
    display: none;
    margin-top: 10px;
}
#e2 p{
    margin: 8px 30px;
}
#e3{
    display: none;
    margin-top: 10px;
}
#e3 p{
    margin: 8px 30px;
}

#web-up{
    display: none;
}
#pps-up{
    display: none;
}
#gd-up{
    display: none;
}